#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #21201E;
  align-items: center;
  justify-content: center;
  /* display: flex;
  flex-direction: column; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-display {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
}

.game-info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 60%;
  text-align: left;
  color: #fafafa;
  padding: 20px 60px 20px 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 40%;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 32vw; /* Set width to be responsive to viewport */
  height: 32vw; /* Maintain a square aspect ratio based on width */
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px; /* Make the corners of the board rounded */
  overflow: hidden; /* Ensure that corners are nicely rounded */
  border: #888;
}

.tile {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border-radius: 0;
}

.brown {
  background-color: #6E644E; /* Dark brown */
}

.beige {
  background-color: #B8B398; /* Light beige */
}

.piece {
  width: 75%; /* Set the size of the pieces */
  height: 75%;
  border-radius: 50%; /* Make the pieces circular */
  position: relative;
  margin: auto;
}

.black {
  background-color: black; /* Black pieces */
}

.red {
  background-color: red; /* Red pieces */
}

.black-king {
  background-color: black;
  border-radius: 3px;
  border: yellow;
}

.red-king {
  background-color: red;
  border-radius: 3px;
  border: yellow;
}

@media (max-width: 1200px) {
  .main-display {
    flex-direction: column; /* Stack vertically on small screens */
    align-items: center;

  }

  .game-info {
    width: 100%; /* Full width for small screens */
    height: fit-content;
    padding: 20px 30px 20px 30px;
  }

  .game-info h1, p{
    text-align: center;
  }

  .app {
    width: 100%; /* Full width for small screens */
    margin: 20px 30px 20px 30px;
  }

  .board {
    width: 48vw; /* Set width to be responsive to viewport */
    height: 48vw; /* Maintain a square aspect ratio based on width */
  }
}
